{% extends 'base.html.twig' %}
{# TODO: Revise this #}
{% block body %}
	<h1>Reset Password</h1>

	<form action="" method="post">
		{{ form_widget(form) }}
		<button type="submit">Reset Password</button>
	</form>
{% endblock %}
