{# TODO: Revise this email #}
<p>Hello
	{{ user.username }},</p>

<p>Someone (hopefully you) has requested a password reset for your account.</p>

<p>Click the link below to reset your password:</p>

<p>
	<a href="{{ url }}">{{ url }}</a>
</p>

<p>If you didn't request this, please ignore this email.</p>

<p>Best,</p>

<p>Your Name</p>
