{# TODO: animate counters #}
<section id="counters">
	<div class="container-fluid">
		<div class="d-flex justify-content-evenly">
			<div class="counter">
				<div class="number">5000</div><!-- /.number --><div class="text">Students</div><!-- /.text --></div>
			<!-- /.counter -->
			<div class="counter">
				<div class="number">50</div><!-- /.number --><div class="text">Countires</div><!-- /.text --></div>
			<!-- /.counter -->
			<div class="counter">
				<div class="number"> 10</div><!-- /.number --><div class="text">Momentum</div><!-- /.text --></div>
			<!-- /.counter -->
		</div>
		<!-- /.d-flex -->
	</div>
	<!-- /.container-fluid -->
</section>
<!-- /#counters -->
