{# TODO: Counters #}
<section id="counters">
	<div class="container-fluid">
		<div class="row">
			<div class="col">
				<div class="counter">
					<div class="number">5000+</div><!-- /.number --><div class="text">Students</div><!-- /.text --></div><!-- /.counter --></div>
			<!-- /.col -->
			<div class="col">
				<div class="counter">
					<div class="number">50+</div><!-- /.number --><div class="text">Countires</div><!-- /.text --></div><!-- /.counter --></div>
			<!-- /.col -->
			<div class="col">
				<div class="counter">
					<div class="number">TOP 10</div><!-- /.number --><div class="text">Momentum</div><!-- /.text --></div><!-- /.counter --></div>
			<!-- /.col -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container-fluid -->
</section>
<!-- /#counters -->
