<section id="hero" class="fullpage">
	<div class="video-container">
		<video autoplay muted loop src="{{ asset('/videos/globe.mp4') }}"></video>
	</div>
	<h1>Mission Eminence</h1>
</section>
<!-- /#hero -->
