<section id="our-partners">
	<div class="container-fluid">
		<h2>Our Partners</h2>
		{# TODO: Our partners #}
		<div class="text-center">
			<img src="/images/equiti.png"/>
			<img src="/images/partner.png"/>
		</div>
	</div>
</section>
<!-- #our-partners -->
