<section id="our-partners">
	<div class="container-fluid">
		<h2>{{"Our Partners"|trans }}</h2>
		<div class="text-center">
			<img src="/images/equiti.png" alt="Equiti"/>
			<img src="/images/partner.png" alt="Partner"/>
		</div>
	</div>
</section>
<!-- #our-partners -->
