<section id="overview-video" class="fullpage">
	<div class="container-fluid">
		<h2>{{"Overview Video"|trans }}</h2>
		<div class="text-center">
			<img src="/images/sample-overview-video.jpg" alt="Mission Eminence Overview Video" class="img-fluid"/>
		</div>
	</div>
</section>
<!-- #overview-Video -->
