{# TODO: Testimonials #}
<section id="testimonials" class="fullpage">
	<div class="container-fluid">
		<h2>Testimonials</h2>
		{# TODO: Testimonials carousel #}
	</div>
	<!-- .container-fluid -->
</section>
<!-- #testimonials -->
