{% extends 'admin/base.html.twig' %}
{% import 'macros/_links.html.twig' as links %}

{% block h1 %}Edit Partnership
{% endblock %}
{% block cardActions %}
	<div>
		{{ links.back('admin_partnership_index') }}
		{{ include('admin/partnership/_delete_form.html.twig') }}
	</div>
{% endblock %}

{% block body %}
	{{ include('admin/partnership/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
