{% extends 'admin/base.html.twig' %}

{% block h1 %}New Partnership
{% endblock %}
{% block cardActions %}
	<a href="{{ path('app_partnership_index') }}">back to list</a>
{% endblock %}
{% block body %}
	{{ include('admin/partnership/_form.html.twig') }}
{% endblock %}
