{% extends 'admin/base.html.twig' %}
{% import 'macros/_links.html.twig' as links %}

{% block h1 %}New Partnership
{% endblock %}
{% block cardActions %}
	<div>
		{{ links.back('admin_partnership_index') }}
	</div>
{% endblock %}
{% block body %}
	{{ include('admin/partnership/_form.html.twig') }}
{% endblock %}
