{% extends 'admin/base.html.twig' %}

{% block h1 %}Calendar
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('admin_calendar') }}
{% endblock %}
{% block body %}
	<div id="calendar" data-url="{{ path('admin_calendar_api_events') }}"></div>
	<!-- Modal -->
	<div class="modal fade" id="eventModal" tabindex="-1" aria-labelledby="eventModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="eventModalLabel">Event Details</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="eventForm">
						<div class="mb-3">
							<label for="eventTitle" class="form-label">Title</label>
							<input type="text" class="form-control" id="eventTitle" name="title" readonly>
						</div>
						<div class="mb-3">
							<label for="eventDescription" class="form-label">Description</label>
							<textarea class="form-control" id="eventDescription" name="description" readonly></textarea>
						</div>
						<div class="mb-3">
							<label for="eventStart" class="form-label">Start</label>
							<textarea class="form-control" id="eventStart" name="start" readonly></textarea>
						</div>
						<div class="mb-3">
							<label for="eventEnd" class="form-label">End</label>
							<textarea class="form-control" id="eventEnd" name="end" readonly></textarea>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" id="editEventBtn">Edit</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
