{% extends 'admin/base.html.twig' %}
{% import 'macros/_links.html.twig' as links %}

{% block h1 %}MMM
{% endblock %}
{% block cardActions %}
	<div>
		{{ links.add('admin_mmm_new') }}
	</div>
{% endblock %}

{% block body %}
	<div class="row">
		{% for mmm in mmms %}
			<div class="col-4">
				{% include 'admin/mmm/_card.html.twig' %}
			</div>
			<!-- .col-4 -->
		{% endfor %}
	</div>
	<!-- .row -->

{% endblock %}
