{% extends 'admin/base.html.twig' %}

{% block h1 %}Edit Testimonial
{% endblock %}
{% block cardActions %}
	<a href="{{ path('app_testimonial_index') }}" class="btn btn-green">back to list</a>
	{{ include('admin/testimonial/_delete_form.html.twig') }}
{% endblock %}
{% block body %}
	{{ include('admin/testimonial/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
