{% extends 'admin/base.html.twig' %}
{% import 'macros/_links.html.twig' as links %}

{% block h1 %}New Testimonial
{% endblock %}
{% block cardActions %}
	<div>
		{{ links.back('admin_testimonial_index')}}
	</div>
{% endblock %}
{% block body %}
	{{ include('admin/testimonial/_form.html.twig') }}
{% endblock %}
