// 1. Configuration and helpers
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";

// Using Bootstrap's include-media-breakpoint mixin
// Bootstrap breakpoints:
// sm: 576px
// md: 768px
// lg: 992px
// xl: 1200px
// xxl: 1400px

// 2. Font declarations
// Add Montserrat font loading
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

// 3. Variables
// $theme-colors: (
//     'primary': $primary,
//     'secondary': $secondary,
//     'success': $success,
//     'info': $info,
//     'warning': $warning,
//     'danger': $danger,
//     'light': $light,
//     'dark': $dark,
//     'gold': #AB973E,
//     'green': #176C73,
//     'black': #000000,
//     'white': #ffffff
// );
// Define your custom color palette 
$theme-colors: (
    'primary': #4A90E2,
    // Set green as primary color 
    'secondary': #AB973E,
    // Set gold as secondary color 
    'success': #58A6AB,
    // Set light green as success color 
    'info': #FFF5E1,
    // Set cream as info color 
    'warning': #8C7A31,
    // Set dark gold as warning color 
    'danger': #CC4C4C,
    // Set black as danger color 
    'light': #ffffff,
    // Set white as light color 
    'dark': #000000,
    // Set grey as dark color 
    'gold': #AB973E,
    'green': #176C73,
    'black': #000000,
    'white': #ffffff,
    'dark-gold': #8C7A31,
    'light-green': #58A6AB,
    'grey': #808080,
    'cream': #FFF5E1
);

// 3. Base configuration
// $font-size-base: 1rem;
// $font-size-lg: 1.875rem;

$font-family-base: 'Montserrat',
    sans-serif;
$nav-link-font-weight: 600;
// $border-radius: 0;
// $border-radius-sm: 0;


// 6. Bootstrap imports
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/bootstrap";

@include media-breakpoint-up(lg) {
    $font-size-base: 1.875rem;
}

.vich-image {
    img {
        max-width: 100%;
        height: auto;
    }
}

#sidebar {
    padding-top: 2rem;
}

a.nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#testimonial_imageFile_delete {
    +label {
        color: red;
    }
}


.btn-link {
    text-decoration: none;
    font-weight: bold;

    &:hover {
        text-decoration: underline;
    }
}

.card-footer {
    .table {

        td,
        th {
            background-color: var(--bs-card-cap-bg);
        }
    }
}