{% extends 'admin/base.html.twig' %}
{% import 'macros/_links.html.twig' as links %}

{% block h1 %}Course{% endblock %}
{% block cardActions %}
		{{ links.add('admin_course_new') }}
{% endblock %}

{% block body %}
	<div class="row">
		{% for course in courses %}
			<div class="col-4">
				{% include 'admin/course/_card.html.twig' %}
			</div>
			<!-- .col-4 -->
		{% endfor %}
	</div>
	<!-- .row -->


{% endblock %}
