// 1. Configuration and helpers
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";

// Using Bootstrap's include-media-breakpoint mixin
// Bootstrap breakpoints:
// sm: 576px
// md: 768px
// lg: 992px
// xl: 1200px
// xxl: 1400px

// 2. Font declarations
@mixin font-face($name, $weight) {
    @font-face {
        font-family: 'Beautifully Delicious Script';
        src: url('../fonts/BeautifullyDelicious/BDSans-#{$name}.otf') format('woff2'),
        url('../fonts/BeautifullyDelicious/BDSans-#{$name}.otf') format('woff'),
        url('../fonts/BeautifullyDelicious/BDSans-#{$name}.otf') format('truetype');
        font-weight: $weight;
        font-style: normal;
    }
}

// Add Montserrat font loading
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


@include font-face('Thin', 200);
@include font-face('Regular', 400);
@include font-face('Bold', 600);
@include font-face('Black', 700);

// 3. Variables
$theme-colors: (
    'gold': #AB973E,
    'green': #176C73,
    'black': #000000,
    'white': #ffffff,
    'delete': #ee0000,
    'red': #ee0000,
);

// 3. Base configuration
$font-size-base: 1rem;
$font-size-lg: 1.875rem;


$font-family-base: 'Beautifully Delicious Script', sans-serif;
$dark: map-get($theme-colors, 'black');
$body-bg-dark: map-get($theme-colors, 'black');
$navbar-color: map-get($theme-colors, 'white');
$navbar-dark-color: map-get($theme-colors, 'white');
$navbar-dark-hover-color: map-get($theme-colors, 'gold');
$navbar-dark-active-color: map-get($theme-colors, 'gold');
$nav-link-font-weight: 600;
$navbar-nav-link-padding-x: 2rem;
$card-cap-bg: transparent;
$card-border-width: 0;
// $input-border-color: gold;
$input-focus-border-color: map-get($theme-colors, 'gold');
$input-focus-box-shadow: 0 0 0 0.25rem rgba(171, 151, 62, 0.25);
$input-placeholder-color: map-get($theme-colors, 'gold');

$h3-font-size-mobile: 2.5rem;
// 5. Navbar configuration
$navbar: (
    'brand-height': 5rem,
    'brand-padding-y': 1.875rem,
    'color': map-get($theme-colors, 'white'),
    'dark-color': map-get($theme-colors, 'white'),
    'nav-link-padding-x': 2rem
);

// 6. Bootstrap imports
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/bootstrap";

html {
    font-size: 2rem;

    @include media-breakpoint-up(sm) {
        font-size: 2rem;
    }

    @include media-breakpoint-up(lg) {
        font-size: 1rem;
    }
}


h3 {
    font-size: 2.5rem;

    @include media-breakpoint-up(sm) {
        font-size: 2.5rem;
    }

    @include media-breakpoint-up(lg) {
        font-size: 1.75rem;
    }
}


// 7. Components
.btn-eminence {
    background-color: transparent;
    border: 0.125rem solid map-get($theme-colors, 'gold');
    border-radius: 3rem;
    padding: 0.625rem 3rem;
    font-weight: bold;
    font-size: 2rem;

    @include media-breakpoint-up(lg) {
        font-size: 1rem;
        border-radius: 2.5rem;
        padding: 0.3125rem 2.5rem 0.625rem;
    }
}

// 8. Layout
.navbar-toggler-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.navbar {
    position: absolute;
    width: 100%;
    z-index: 10;


    @include media-breakpoint-up(lg) {}

    &-brand {
        padding-left: 1rem;

        @include media-breakpoint-up(lg) {
            padding-left: 1.875rem;

            img {
                max-width: 232.9px;
            }
        }

    }

    &-nav {
        text-transform: uppercase;
        font-size: 2rem;

        @include media-breakpoint-up(lg) {
            font-size: $font-size-lg;
        }
    }
}

main {
    .fullpage {
        @include media-breakpoint-up(lg) {
            min-height: 100vh !important;
        }
    }
}

// 9. Pages
#homepage {
    h2 {
        text-transform: uppercase;
        font-weight: bold;
        margin-left: 3rem;
        margin-bottom: 3rem;
        font-size: 2rem;

        @include media-breakpoint-up(sm) {
            font-size: 2rem;
        }

        @include media-breakpoint-up(lg) {
            letter-spacing: 4px;
            font-size: 3rem;
        }
    }

    section {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }

    #hero {
        min-height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;

        .video-container {
            @include media-breakpoint-up(lg) {
                max-width: 100vw;
                height: 100vh;
            }

            overflow: hidden;
            position: absolute;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            video {
                width: 100vw;
                height: auto;

                @include media-breakpoint-up(lg) {
                    object-fit: cover;
                    height: 100%;
                    // height: 90%;
                }
            }
        }

        h1 {
            font-size: 2rem;
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 4px;
            text-shadow: 0 0 16px map-get($theme-colors, 'white');
            z-index: 12;

            @include media-breakpoint-up(md) {
                font-size: 3.5rem;
                letter-spacing: 6px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 70px;
                letter-spacing: 8px;
            }
        }
    }

    #services {
        background: url("../images/mobile.png") no-repeat center center;
        background-size: contain;

        .card {
            background-color: rgba(0, 0, 0, 0.8);

            @include media-breakpoint-up(lg) {
                background-color: transparent;
            }

            margin-bottom: 1rem;
            border: 0.25rem solid map-get($theme-colors, 'green');
            border-radius: 4rem;
            height: 100%;
            text-align: center;

            .card-header {
                background-color: transparent;
                border: 0;
            }

            .card-title {
                padding-top: 20px;
            }

            .card-body {
                font-family: 'Montserrat', 'Open sans';
                // padding: 20px;
            }
        }
    }

    #counters {
        padding-top: 2.5rem;
        padding-bottom: 3rem;
        color: map-get($theme-colors, 'gold');
        font-size: 1.5rem;

        .counter {
            position: relative;
            min-height: 18.7500rem;
            min-width: 18.7500rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &::before {
                position: absolute;
                content: " ";
                background: url("../images/g46.png") no-repeat center center;
                background-size: cover;
                min-height: 19rem;
                min-width: 19rem;
                top: 0.75rem;
                left: -1.5rem;
            }

            .number {
                font-size: 2.5rem;
                font-weight: bold;
                display: inline-flex;
                align-items: center;

                &::after {
                    content: '+';
                    margin-left: 0.2rem;
                }

            }

            &:last-child {
                .number::before {
                    content: 'TOP ';
                }
            }

        }
    }

    #free-course {
        position: relative;
        overflow: hidden;

        h2 {
            margin-top: 10vh;
        }

        @include media-breakpoint-up(lg) {
            h2 {
                margin-top: 20vh;
            }
        }

        #background-video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
            /* Ensure it stays behind the content */
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.9);
            /* Adjust opacity as needed */
            z-index: 2;
            /* Ensure it stays on top of the video but behind the content */
        }

        >*:not(#background-video):not(.overlay) {
            position: relative;
            z-index: 3;
            /* Ensure the content stays above the overlay and video */
        }

        p {
            max-width: 900px;
            font-family: 'Montserrat', 'Open sans';
            margin: 0 auto;
            padding-bottom: 3rem;
        }

        .cta {
            color: #ffffff;
            background-color: map-get($theme-colors, 'green');
            border: 2px solid #ffffff;
            border-radius: 28px;
            padding: 10px;
            text-decoration: none;
            display: inline-block;
            font-weight: bold;
            margin-bottom: 10vh;

            @include media-breakpoint-up(lg) {
                max-width: 15.6250rem;
            }
        }
    }

    #our-partners {
        img {
            width: 250px;
            height: auto;
            margin-left: 2rem;
            margin-right: 2rem;
        }
    }
}

#registration {
    padding-top: 7.25rem;

    .registration-form {
        margin-top: 7.25rem;
    }
}