<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand me-5" href="{{ path('admin_home') }}">
			<img src="{{ asset('logo.png') }}" alt="Logo" width="232.9" height="auto">
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav mx-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="#students">Students</a>
				</li>
			</ul>
			<div class="navbar-nav d-flex ms-5">
				{# <a href="{{ path('app_login') }}" class="btn btn-primary">Login</a> #}
				{# Bootstrap dropdown user menu for symfony 6 and twig #}
					<div class="nav-item dropdown"> <a
						class="nav-link dropdown-toggle" href="#" id="userMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{# TODO: User name #}
						User Menu
					</a>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
						<li>
							<a class="dropdown-item" href="#">Profile</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Settings</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">Logout</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav>
